body{
    margin:0;
    padding-top:800px;
    text-align:center;
}
.profile{
    border-radius: 50%;
    
}
#welcome{
    position: absolute;
    bottom: 0;
    background: linear gradient(#34ebd2 0%,#186ded 100%);
    display: table;
    width: 100%;
    height: 100%;
    
}
